$color-primario: #ed1616;
$color-secundari: #8e0909;

$color-prueba: blue;

$colores: (
    'primary':#ed1616,
     'secondary': #8e0909,
     'dark': #000,
);



@mixin size-btn {
    width: 100%;
    height: 80px;
}

